.u-section-1 .u-sheet-1 {
  min-height: 141px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 16px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 17px auto 0 591px;
}

.u-section-1 .u-text-3 {
  margin: -28px auto 0 422px;
}

.u-section-1 .u-text-4 {
  margin: -28px 549px 0 436px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-text-5 {
  margin: -27px 396px 0 auto;
}

.u-section-1 .u-icon-1 {
  width: 19px;
  height: 19px;
  margin: -26px auto 39px 396px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-top: 45px;
    margin-left: 475px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 336px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 462px;
    margin-left: 324px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -56px;
    margin-right: 327px;
    margin-left: 487px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 315px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 360px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 254px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 353px;
    margin-left: 213px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 250px;
    margin-left: 369px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 237px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-2 {
    margin-top: 39px;
    margin-left: 277px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 197px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 253px;
    margin-left: 133px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -44px;
    margin-right: 188px;
    margin-left: 284px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -30px;
    margin-bottom: 44px;
    margin-left: 185px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-left: 176px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 126px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 150px;
    margin-left: 36px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 118px;
    margin-left: 181px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 118px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 849px;
}

.u-section-2 .u-image-1 {
  width: 363px;
  height: 207px;
  margin: 86px auto 0 -42px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: -180px -60px 0 353px;
}

.u-section-2 .u-text-2 {
  margin: 5px -63px 0 355px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 54px -63px 0 355px;
}

.u-section-2 .u-image-2 {
  width: 366px;
  height: 207px;
  margin: -15px auto 0 -42px;
}

.u-section-2 .u-text-4 {
  margin: -188px -63px 0 355px;
}

.u-section-2 .u-image-3 {
  width: 366px;
  height: 207px;
  margin: 82px auto 0 -43px;
}

.u-section-2 .u-text-5 {
  margin: -175px -63px 0 355px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: -173px -63px 0 355px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 20px -63px 60px 355px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-left: 58px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -746px;
    margin-left: 253px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 571px;
    margin-right: -665px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -484px;
    margin-left: 255px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -43px;
    margin-left: 58px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 37px;
  }

  .u-section-2 .u-image-3 {
    margin-left: -24px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 37px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 255px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 255px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    margin-left: 168px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: -555px;
    margin-left: 210px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    margin-left: 168px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-2 .u-image-3 {
    margin-left: 86px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    margin-left: 258px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -140px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -32px;
    margin-right: -465px;
    margin-left: 300px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 121px;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: -79px;
    margin-left: 258px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-2 .u-image-3 {
    margin-left: 176px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -163px;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    margin-left: 358px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 135px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -307px;
    margin-right: -365px;
    margin-left: 400px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 296px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -279px;
    margin-left: 358px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-2 .u-image-3 {
    margin-left: 400px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -63px;
  }

  .u-section-2 .u-text-7 {
    margin-bottom: 0;
  }
}